############################
# IntelliJ IDEA files
############################
**/.idea/
*.iml
out/

############################
# Compiled Java files
############################
*.class

############################
# Gradle files
############################
.gradle/
build/

############################
# Runtime data (Level 7 storage)
############################
data/

############################
# Resources / docs
############################
src/main/resources/docs/

############################
# macOS
############################
.DS_Store

############################
# Other build outputs
############################
bin/

############################
# Text UI test outputs
############################
text-ui-test/ACTUAL.TXT
text-ui-test/EXPECTED-UNIX.TXT

/build/
*.jar