# IntelliJ IDEA files
/.idea/
/out/
/*.iml
*.iml

# Compiled Java files
*.class

# Gradle build files
/.gradle/
/build/

# Runtime data (Level 7 storage)
data/

# Resources / docs
src/main/resources/docs/

# MacOS custom attributes
.DS_Store

# Other build outputs
bin/

# Text UI test outputs
/text-ui-test/ACTUAL.TXT
/text-ui-test/EXPECTED-UNIX.TXT
